html{
	height:100%;
	font-family:open sans,hiragino sans gb,microsoft yahei,wenquanyi micro hei,Arial,Verdana,Tahoma,sans-serif;

}
body{ 
	margin:0; 
	height:100%;
	background: #204042;
}
a{
	text-decoration:none
}
a:link {color: #a78d71}
a:visited {color: #a78d71}
a:hover {color: #4d3b31}
a:active {color: #a78d71}

img{
	max-width: 93%;
	margin:2%;
	border: 10px solid #a1a1a1;
	border-radius: 25px;
}
code{
	border-radius: 25px;
}
#left{
	font-size: 11px;
	width: 15%;
	position:fixed;
	left:0;
	height:100%;
	background: #5e6f66;
	text-align:center;
}
#left a{ 
	font-size:350%;
	font-weight:bold;
}
#dynamic_login{
	display: none;
}
#user{
	width:100%;
	position:absolute;
	bottom:2%;
	visibility:hidden;

}

#right{
	position:relative;
	left:15%;
	min-height:100%;
	height:auto; 
	width:85%;
	overflow:hidden;
}
.section_main{
	padding:1% 3% 2% 3%;
	color: #bfc4cc;
}
.title{
	font-size:40px;
}
.subject{
	font-size:20px;
}
.subject p{
	word-break:break-all;
	margin:0; 
}
.ther span{
	color: #868F9C;
	padding :0px 50px 0px 0px;
}

.comment{
	padding:4%;
}
.comment label{
	display:none;
	padding:0.5% 0.7%;
	font-size: 15px; 
}
.comment textarea{
	height: 40px;
	width: 100%;
	font-size: 20px;
	text-align:center;
	border:none;
	outline:none; 
	padding: 1%;
	border-radius: 5px;
	background-color:#31332e;
	color:#a78d71;
}
.comment #name{
	height: 40px;
	width: 100%;
	font-size: 20px;
	text-align:center;
	border:none;
	outline:none; 
	padding: 1%;
	border-radius: 5px;
	background-color:#31332e;
	color:#a78d71;
}
.comment input{
	height:40px;
	width: 100%;
	font-size: 20px; 
	text-align:center;
	margin-top: 10px;
	border: 0;  
	-moz-border-radius: 2px;
	border-radius: 5px;
	background: #bfc4cc;
	color: #31332e;
}
.comment span{
	font-size: 25px; 
	margin:0% 1% 0% 0% ;

}
.comment a{
	margin:0% 0% 0% 1% ;
	background: #bfc4cc;
	color: #31332e;
	border-radius: 5px;
	height:40px;
	padding:0.5% 0.7%;
	font-size: 15px; 
}
#comment_text{
	width:99%;
	border:2px solid #a1a1a1;
	border-radius:25px;
	padding:0.5% 1% ;
	margin:1% 0%; 
}

#comment_title{
	padding:0% 0% 0% 1%;
}
#comment_title span{
	margin:0% 1% 0% 0%;
}
#comment_name{
	font-weight: bold;
	font-size:23px;
}
#comment_time{

}
#comment_floor{
	left:69%;
	position:relative;
	width:30%;
	text-align:right;  
	color:#a78d71;
	font-size:20px;
}
#comment_content{
	padding:0% 4% 0% 3%;
	font-size:20px;
	word-break:break-all; 
	position:relative;
	bottom:15px;
}