<!DOCTYPE HTML>
<html>
<head>
	<title>Queziaa's blog</title>
	{% load staticfiles %}
	<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<div id="left">
		<br>
		<a href="/">主页</a>
		<br>
		<a href="/archive">列表</a>
		<br>
		<a href="/me">关于我</a>
		<br>
		<a href="/upload">上传图片</a>
		<br>
		<a href="/release">发布博客</a>
		<br>
		<div id="user">
		</div>
		<iframe src="/Dynamic_window_user" width="0" height="0" frameborder="0">
		</iframe>
		<script type="text/javascript">
		function createa(url){
			    var Dynamic_window=document.createElement("iframe");
			    Dynamic_window.width=0;
			    Dynamic_window.height=0;
			    Dynamic_window.frameborder=0;
			    Dynamic_window.src=url;
			    document.body.appendChild(Dynamic_window);
			}
		</script>
	</div>
	<div id="right">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
