<!DOCTYPE HTML>
<html>
<head>
	<title>{{ html_title }}Queziaa's blog</title>
	{% load staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
	<link href="https://cdn.bootcss.com/highlight.js/9.13.1/styles/monokai-sublime.min.css" rel="stylesheet">
	<link  href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
	<script src="{% static 'js/login.js' %}" charset="utf-8"></script>
	<script src="{% static 'js/img_max.js' %}" charset="utf-8"></script>
</head>
<body>
	<div id="left">
		<br>
		<a href="/">主页</a>
		<br>
		<a href="/archive">列表</a>
		<br>
		<a id="search" href="####">搜索</a>
		<br>
		<a href="/me">关于</a>
		<br>
		<a href="/upload">上传图片</a>
		<br>
		<a href="/release">发布博客</a>
		<br>
		<div id="user">
			<a id="login" href="####">登陆</a>
			<a id="change" href="####">/</a>
			<a id="registered" href="####">注册</a>
		</div>
	</div>
	<div id="right">
		{% block content %}
		{% endblock %}
	</div>
	<div id="display">
		<div id="dynamic_login"> 
			<form id="comment" class="comment" method="post">{% csrf_token %}
				<input id="name" name="name" placeholder="用户名">
				<input id="password" type="password" name="password" placeholder="密码"/> 
	            <input id="repeat_password" type="password" name="repeat_password" placeholder="再次输入密码"/> 
				<input id="login_reg" type="submit" value="注册"/>
			</form> 
		</div>
	</div>
</body>
</html>