<!--home.html-->
{% extends "base.html" %}
{% block content %}
	{% load staticfiles %}
	<link href="{% static 'css/detailed.css' %}" rel="stylesheet" type="text/css">
		<div class="section_main">
			<div class="title">
				<p id="">{{ post.title }}</p>
			</div>
			<div class="ther">
				<span >发布于{{ post.date_time }}&emsp;&emsp;提交于{{ post.examine_time }}&emsp;&emsp;{{ post.comments_quantity }} 条评论</span>
			</div>
			<div class="subject">
				{% for temp in Article_mix_content %}
					<p>{{ temp.text|linebreaksbr }}</p>	
					{% if temp.img %}
						<img src="{{ temp.img }}" >
					{% endif %}
				{% endfor %} 
			</div>
			<form class="comment" method='post'>
				{% csrf_token %}
				{{ comment }}

				{% if Result %}
					<span>${{ User_name }}</span>
					<input type="submit" value="发布评论">
				{% else %}
					<span>#{{ User_name }}</span>
					<input type="submit" value="匿名评论">
					<a href="/login">登陆</a>
				{% endif %}

			</form>
			{% for comment_text in comment_content %} 
				<div id="comment_text">
					<div id="comment_title">
						<span id="comment_name">{{ comment_text.ip_hash}}</span>
						<span id="comment_time">{{ comment_text.date_time }}</span>
					</div>
					<div id="comment_floor">#{{ comment_text.floor }}</div>
					<div id="comment_content">{{ comment_text.comments_text }}</div>
				</div>
			{% endfor %} 
		</div>
{% endblock %}

