{% extends "base.html" %}
{% block content %}
	{% load staticfiles %}
	<link href="{% static 'css/monokai-sublime.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/detailed.css' %}" rel="stylesheet" type="text/css">
	<script src="{% static 'js/highlight.pack.js' %}" charset="utf-8"></script>
	<script>
		hljs.initHighlightingOnLoad();
		function help() {
			document.getElementById("id_comment_content").placeholder='使用图片请在上传图片初提交图片{@img|图片ID@}\n使用超链接{@a|url|显示文字@}\n插入代码{@code|代码@}';
			return false
		}
		function enlarge(fixed_img){
		    var new_img=document.createElement("img");
		    new_img.src=fixed_img.src;
		    document.body.appendChild(new_img);
			new_img.style.position="fixed";
			new_img.style.margin="0px";
			new_img.style.border="0px";
			new_img.onclick=function(){this.parentNode.removeChild(this)};
			if(document.body.clientHeight/fixed_img.height*fixed_img.width<document.body.clientWidth){
				new_img.width*=document.body.clientHeight/fixed_img.height;
				new_img.height=document.body.clientHeight;
				new_img.style.left=(document.body.clientWidth-fixed_img.width)/2+"px";
				new_img.style.top="0px";
			}else if(document.body.clientHeight/fixed_img.height*fixed_img.width>document.body.clientWidth){
				new_img.height*=document.body.clientWidth/fixed_img.width;
				new_img.width=document.body.clientWidth;
				new_img.style.top=(document.body.clientHeight-fixed_img.height)/2+"px";
				new_img.style.left="0px";
			}else{
				new_img.height=document.body.clientHeight;
				new_img.width=document.body.clientWidth;
				new_img.style.top="0px";
				new_img.style.left="0px";
			}
		}
	</script>
		<div class="section_main">
			<div class="title">
				<p id="">{{ post.title }}</p>
			</div>
			<div class="ther">
				<span >发布于{{ post.date_time }}&emsp;&emsp;提交于{{ post.examine_time }}&emsp;&emsp;{{ post.comments_quantity }} 条评论&emsp;&emsp;发布者:{{ post.user }}</span>
			</div>
			<div class="subject">
				<p>
					{% for temp in Article_mix_content %}
						{% if temp.text %}
						{{ temp.text|linebreaksbr }}
						{% endif %}
						{% if temp.type == 'img' %}
							<img src="{{ temp.date_1 }}" onclick="enlarge(this)">
						{% elif temp.type == 'a' %}
							<a href="{{ temp.date_1 }}">{{ temp.date_2 }}</a>
						{% elif temp.type == 'code' %}
							<pre><code>{{ temp.date_1 }}</code></pre>
						{% else %}
						{% endif %}
					{% endfor %} 
				</p>
			</div>
			<form class="comment" method='post'>
				{% csrf_token %}
				{{ comment }}
				{% if Result %}
					<span>${{ User_name }}</span>
					<input type="submit" value="发布评论">
				{% else %}
					<span>#{{ User_name }}</span>
					<input type="submit" value="匿名评论">
				{% endif %}
					<input type="button" value="格式帮助" onclick="help()">
			</form>
			{% for comment_text in comment_content %} 
				<div id="comment_text">
					<div id="comment_title">
						<span id="comment_name">{{ comment_text.ip_hash}}</span>
						<span id="comment_time">{{ comment_text.date_time }}</span>
					</div>
					<div id="comment_floor">#{{ comment_text.floor }}</div>
					<div id="comment_content">
						<p>
							{% for temp in comment_text.comments_text %}
								{% if temp.text %}
									{{ temp.text|linebreaksbr }}
								{% endif %}
									{% if temp.type == 'img' %}
										<img src="{{ temp.date_1 }}" >
									{% elif temp.type == 'a' %}
										<a href="{{ temp.date_1 }}">{{ temp.date_2 }}</a>
									{% elif temp.type == 'code' %}
										<pre><code>{{ temp.date_1 }}</code></pre>
									{% else %}
									{% endif %}
							{% endfor %} 
						</p>
					</div>
				</div>
			{% endfor %} 
		</div>
{% endblock %}

