<!--home.html-->
{% extends "base.html" %}
{% block content %}
	{% for post in post_list %} 
		<div class="section_main">
			<div class="title">
				<a href="/detailed/{{ post.id }}/">{{ post.title }}</a>
			</div>
			<div class="subject">
				{% if post.content.text %}
					{% if post.content.text|length < 1500 %}
						<p>{{ post.content.text }}</p>
					{% else %}
						<p>{{ post.content.text|slice:"1500" }}  ...</p>
					{% endif %}
				{% endif %}
				{% if post.content.img %}
					<img src="{{ post.content.img }}" >
				{% endif %}
			</div>
			<div class="ther">
				<span>发布于{{ post.date_time }}</span>
				<span>提交于{{ post.examine_time }}</span>
				<span>{{ post.comments_quantity }} 条评论</span>
			</div>
		</div>
	{% endfor %} 
{% endblock %}