<!--home.html-->
{% extends "base.html" %}
{% block content %}
	{% for post in post_list %} 
		<div class="section_main">
			<div class="title">
				<a href="/detailed/{{ post.id }}/">{{ post.title }}</a>
			</div>
			<div class="subject">
				{% if post.content|length < 1500 %}
					<p>{{ post.content }}</p>
				{% else %}
					<p>{{ post.content|slice:"1500" }}  ...</p>
				{% endif %}
			</div>
			<div class="ther">
				<span>{{ post.date_time }}</span>
				<span>{{ post.comments_quantity }} Comments</span>
			</div>
		</div>
	{% endfor %} 
{% endblock %}