{% extends "base.html" %}
{% block content %}
	<style>
		a:hover[onclick]{
			color:#a78d71;
		}
	.title p{
		font-size:50px;
		margin:0;
		color: #a78d71;
		text-align: center;
		padding :0px 0px 10px 0px;
	}
	.ther span{
		text-align: center;
	}
	.section_main .comment{
		padding:4% 0%;
	}
	.section_main textarea{
		height: 100%;
		text-align:left;
	}
	.section_main input{
		width: auto;
	}
	.comment a{
		margin:0% 0% 0% 1% ;
		background: #bfc4cc;
		color: #31332e;
		border-radius: 5px;
		height:40px;
		padding:2%;
		font-size: 20px; 
	}
	.ther{
		padding:0px 0px 30px 0px;
	}
	</style>
	<div style="font-size: 70px;padding: 50px;color: #bfc4cc;">
		<div style="width:100%;float:left;">
			<a href="###" onclick="this.text=array[Math.floor(Math.random()*array.length)];">QAQ</a>
		</div>
		<div style="width:20%;float:left;">
			<p>Github : </p>
			<p>E-mail : </p>
			<p>简历:</p>
		</div>
		<div style="width:50%;float:left;">
			<p><a href="https://github.com/queziaa" target="_blank">github.com/queziaa</a></p>
			<p><a href="mailto:queziaa31@gmail.com">queziaa31@gmail.com</a></p>
			<p><a class="cv_a" href="aHR0cHM6Ly9jdi5xdWV6aWFhLmNvbQ==">Y3YucXVlemlhYS5mdW4=</a></p>
		</div>
	</div>
	<div class="section_main">
		<form class="comment" method='post'>
			{% csrf_token %}
			{{ comment }}
			{% if Result %}
				<span>${{ User_name }}</span>
				<input type="submit" value="发布评论">
			{% else %}
				<span>#{{ User_name }}</span>
				<input type="submit" value="匿名评论">
			{% endif %}
				<input type="button" value="格式帮助" onclick="help()">
		</form>
		{% for comment_text in comment_content %} 
		<div id="comment_text">
			<div id="comment_title">
				<span id="comment_name">{{ comment_text.ip_hash}}</span>
				<span id="comment_time">{{ comment_text.date_time }}</span>
			</div>
			<div id="comment_floor">#{{ comment_text.floor }}</div>
			<div id="comment_content">
				<p>
					{% for temp in comment_text.comments_text %}
						{% if temp.text %}
							{{ temp.text|linebreaksbr }}
						{% endif %}
							{% if temp.type == 'img' %}
								<img src="{{ temp.date_1 }}" >
							{% elif temp.type == 'a' %}
								<a href="{{ temp.date_1 }}">{{ temp.date_2 }}</a>
							{% elif temp.type == 'code' %}
								<pre><code>{{ temp.date_1 }}</code></pre>
							{% else %}
							{% endif %}
					{% endfor %}
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
	<script>
		function b64DecodeUnicode(str) {
			return decodeURIComponent(atob(str).split('').map(function(c) {
				return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
			}).join(''));
		}
		var $cv_a = $('.cv_a');
		b64DecodeUnicode
		$cv_a.attr('href',b64DecodeUnicode($cv_a.attr('href')));
		$cv_a.text(b64DecodeUnicode($cv_a.text()));
		var array = [">ζ°)))彡","くコ:彡","(:◎)≡","(      。＿ 。） ✎ ＿","( ´_ゝ`)✎","✎～～～✐","ﾍ(･_|","｜−・;）",
		"|_・)","|ω・）","|･ω･｀)","$_$","^_~","(´･_･`)","•﹏•","(O_o)(o_O)","(╯ε╰)","╯_╰","テ_デ","┏ (^ω^)=☞","(=^x^=)",
		"→_←","→_→","←_←","◑▂◐","눈_눈","□_□","(눈益눈)","(눈160눈)","(눈▽눈)","(눈◇눈)","(屮눈皿눈)","(눈▂눈)","(눈~눈)","(눈0눈)",
		"(눈_눈)","＼（＾▽＾）／　","(◆゜∀゜）b","(．． )…","( *・ω・)✄╰ひ╯","( ‵▽′)ψ","(☄⊙ω⊙)☄","ԅ(¯﹃¯ԅ)","=└(┐卍^o^)卍","ᕕ( ᐛ )ᕗ",
		"（〃｀ 3′〃）","(❤´艸｀❤)","(￫ܫ￩)","X﹏X","( ′ 3`) sigh~","(′д｀ )…彡…彡","(ρ_・).。","( -'`-)","(#｀-_ゝ-)","(┬＿┬)↘","(＞﹏＜)",
		"（；´д｀）ゞ","ヽ(￣ω￣(￣ω￣〃)ゝ","（。＾▽＾）","ヾ(●゜ⅴ゜)ﾉ","(ง •_•)ง","[]~(￣▽￣)~*","＜（＾－＾）＞","d=====(￣▽￣*)b",
		"ε=ε=ε=┏(゜ロ゜;)┛","…（⊙＿⊙；）…","━━∑(￣□￣*|||━━","ε=ε=ε=(~￣▽￣)~","○|￣|_","_〆(´Д｀ )","(lll￢ω￢)","|(*′口`)","……]((o_ _)'彡☆",
		"┐(T.T ) ( T.T) ノ","┌(。Д。)┐","o((⊙﹏⊙))o.","(*ﾟｰﾟ)","(。・∀・)ノ","´･∀･)乂(･∀･｀","ヾ(＠⌒ー⌒＠)ノ","(ﾟｰﾟ)","(oﾟvﾟ)ノ","o(*^▽^*)┛",
		"┗|*｀0′*|┛","(＠￣ー￣＠)","( σ'ω')σ","━━(￣ー￣*|||━━","[噎住] ( *⊙~⊙)","( *⊙~⊙)","( *^-^)ρ(^0^* )","0＾）吞！","Ψ(￣∀￣)Ψ",
		"(￣～～￣) 嚼！","(╯▽╰ )好香~~","ψ(｀∇´)ψ","*(੭*ˊᵕˋ)੭*ଘ","(◡ᴗ◡✿)","( ﹁ ﹁ ) ~→","(－∀＝)","(☆-ｖ-)","(´ｰ∀ｰ`)","┌( ´_ゝ` )┐",
		"（ ￣ー￣）","( ͡° ͜ʖ ͡°)","(‾◡◝)","ʅ（´◔౪◔）ʃ","(๐॔˃̶ᗜ˂̶๐॓)","(o≖◡≖)","( ﾟдﾟ)つBye","┏(＾0＾)┛","(。・_・)/~~~","（＾∀＾●）ﾉｼ",
		"＼（＾∀＾）メ（＾∀＾）ノ","( ´･･)ﾉ(._.`)","ヾ(￣▽￣)Bye~Bye~","￣O￣)ノ　","※=○☆(＿＿*)Ｚｚｚ","(つω｀)～","(o-ωｑ)).oO 困",
		"(p.-)(p.-)(p.-)","(￣o￣) . z Z","(*￣;(￣ *)","(っ´Ι`)っ","o(*￣3￣)o","（づ￣3￣）づ╭❤～","(*╯3╰)","!(*￣(￣　*)","(ToT)/~~~",
		"(*￣3￣)╭","(* ￣3)(ε￣ *)","┭┮﹏┭┮","╥﹏╥...","o(TヘTo)","〒▽〒","ε(┬┬﹏┬┬)3","(;´༎ຶД༎ຶ`)","||Φ|(|T|Д|T|)|Φ||","(ノへ`、)","(￣ ‘i ￣;)",
		"◕ฺ‿◕ฺ✿ฺ)","つ﹏⊂","(* /ω＼*)","¯\_(౦▾౦ ✿)¯\_","o(*////▽////*)q","(*/ω＼*)","(′▽`〃)","(✿◡‿◡)","(。﹏。)","(/▽＼)","(*￣(エ)￣)",
		"(+(工)+╬)","_(:驴」∠)_","( ఠൠఠ )ﾉ","o( =•ω•= )m","≡ω≡","~o( =∩ω∩= )m","o(=•ェ•=)m","m( =∩王∩= )m","(°°)～　(°°)～　(°°)～　(°°)～",
		"（￣。。￣）","U•ェ•*U","…〒_〒…‵ｏ′-一┳═┻︻▄","(。﹏。*)","┗( T﹏T )┛","（＞人＜；）","（。・＿・。）ﾉ","o(￣┰￣*)ゞ","(=′ー`)",
		"(((φ(◎ロ◎;)φ)))","(-@y@)","(*￣rǒ￣)","~%?…","’(°ー°〃)","( -'`-; )","o(′益`)o","...( ＿ ＿)ノ｜壁","(☆´益`)c","//(っ °Д °;)っ",
		"━┳━　━┳━","(・-・*)","┌|*´∀｀|┘","◐▽◑","(＠_＠;)","((*・∀・）ゞ→→","╮(╯▽╰)╭","┑(￣Д ￣)┍","(ˉ▽￣～) 切~~",".....~~((/- -)/","╮（╯＿╰）╭",
		"-________-''","(⊙﹏⊙)","ㄟ( ▔,  )ㄏ","(o_ _)ﾉ","(╯‵□′)╯炸弹！•••*～●","o(一︿一+)o","＼(゜ロ＼)(／ロ゜)／","～（□`）～","(σ｀д′)σ",
		"z(-_-z)).....((s-_-)s","( ｀д′)","(ー`´ー)","（｀へ´）","(╬￣皿￣)＝○＃(￣＃)３￣)","(ーー゛)","φ(-ω-*)","~~( ﹁ ﹁ ) ~~~","▄︻┻┳═一……",
		"(///￣皿￣)○～","（＝。＝）","(〃＞目＜)","o(￣ヘ￣o＃)","(；′⌒`)","┻━┻︵╰(‵□′)╯︵┻━┻","○|￣|_ =3","(ﾟДﾟ*)ﾉ","→)╥﹏╥)","凸(艹皿艹 )",
		"ヽ（≧□≦）ノ","(* ￣︿￣)","(*￣︿￣)","（＃￣～￣＃）","￣へ￣","(⊙x⊙;)","o(≧口≦)o","(○´･д･)ﾉ","(*Φ皿Φ*)","wow~ ⊙o⊙","⊙▾⊙","(￣m￣）",
		"~(￣0￣)/","￣△￣","(°ー°〃)","_( ﾟДﾟ)ﾉ","╰(*°‿°*)╯","Σ( ° △ °|||)︴","Σ(｀д′*ノ)ノ","Σ(っ °Д °;)っ","(⊙ˍ⊙)","(。_。)","(￣△￣；)",
		"（*゜ー゜*）","Ｏ(≧口≦)Ｏ"];
		document.getElementById("id_comment_content").placeholder='这是一个留言板\n留下点什么吧';
	</script>
{% endblock %}