{% extends "monitor.html" %}
{% block css %}
    <link href="https://cdn.bootcss.com/bootstrap-select/1.13.3/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="py-3 ml-5 mr-5">
    <div class="container-fluid p-0" style="border-radius:10px;">
        <div class="pr-2 pl-2 pb-2 row justify-content-center" style="border-radius:10px;" >
            <div class=" p-0 col-xl-12 d-flex justify-content-between align-items-center" style="border-radius:10px;">
                <div class="mr-3 ml-3 btn-group">
                    <h4 class="my-2 m-0 zi_2x">全部动画</h4>
                </div>
                <small class="mx-4 text-muted">
                    <select class="selectpicker" onchange="sele_onch(0,this)">
                        <option>播放</option>
                        <option>回复</option>
                        <option>分享</option>
                        <option>弹幕</option>
                        <option>硬币</option>  
                    </select>
                    <select class="selectpicker" onchange="sele_onch(1,this)">
                        <option>现在</option>
                        <option>1小时前</option>
                        <option>24小时前</option>
                        <option>自定义时间</option>
                    </select>
                    <input for="inputError" class="form-control mr-sm-2 time_sele display_none" 
                        type="text" onblur="inp_onb(this)" placeholder="输入小时数" style="display:inline;width:110px;">
                    <select class="selectpicker calcu_type" onchange="sele_onch(2,this)">
                        <option>数量</option>
                        <option>相对以现在的增长数量</option>
                        <option>相对以现在的增长率</option>
                    </select>
                    <select class="selectpicker" onchange="sele_onch(3,this)">
                        <option>由高到低排序</option>
                        <option>由低到高排序</option>
                    </select>
                    <select class="selectpicker" onchange="sele_onch(4,this)">
                        <option>上架于1天内</option>
                        <option>上架于7天内</option>
                        <option>上架时间不限</option>
                        <option>自定义时间</option>
                    </select>
                    <input for="inputError" class="form-control mr-sm-2 shelves_sele display_none" 
                        type="text" onblur="inp_onb(this)" placeholder="输入天数" style="display:inline;width:110px;">
                    <select class="selectpicker" onchange="sele_onch(5,this)">
                            <option>数据更新于1天内</option>
                            <option>数据更新于7天内</option>
                            <option>数据更新时间不限</option>
                            <option>自定义时间</option>
                    </select>
                    <input for="inputError" class="form-control mr-sm-2 update_sele display_none" 
                        type="text" onblur="inp_onb(this)" placeholder="输入天数" style="display:inline;width:110px;">
                </small>
            </div>
            <div class=" pt-5 col-xl-9 domUp" style="border-radius:10px;">	
                <table class="table h4 table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>标题</th>
                            <th>集数</th>
                            <th>数据</th>
                        </tr>
                    </thead>
                    <tbody class="table_body">
                        <tr>
                            <td><i class="zi zi_syncalt zi_spin zi_2x"></i></td>
                            <td><i class="zi zi_syncalt zi_spin zi_2x"></i></td>
                            <td><i class="zi zi_syncalt zi_spin zi_2x"></i></td>
                            <td><i class="zi zi_syncalt zi_spin zi_2x"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    {% load staticfiles %}
    <script src="https://cdn.bootcss.com/bootstrap-select/1.13.3/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-select/1.13.3/js/i18n/defaults-zh_CN.min.js"></script>
    <script src="{% static 'js/monitor_top.js' %}" charset="utf-8"></script>
{% endblock %}