{% extends "base.html" %}
{% block content %}
	{% load staticfiles %}
		<link href="{% static 'css/uploadimg.css' %}" rel="stylesheet" type="text/css">
	<form class="comment" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="img">
		<button type="submit">上传</button>
	</form>

	<form class="comment" method='post'>
		{% csrf_token %}
		{{ form_url }}
	<input type="submit" value="提交">
	</form>

	{% if img_id %}
		<p>The picture id you uploaded is {{ img_id }}</p>
	{% endif %}

	{% for img in imgs %}
	<div class="imfMod">	
		<img src="{{ img.url }}" title={{ img.id }}>
	</div>
	{% endfor %}	
{% endblock %}